body {
  width:100%;
  height:100%;
  margin:0;
  font-family:'Oswald', sans-serif;
  font-size:5vh;
  display:table;
}

#title-cover-link {
  color:inherit;
  text-decoration:none;
  padding-left:0.5em;
}

.reddit-logo {
  height:1em;
  display:inline-block;
  vertical-align:bottom;
  /* opacity:0.7; */
  padding-bottom:0.3em;
  padding-left:0.1em;
}

.reddit-upvote {
  display: inline-block;
  height: 0.9em;
  vertical-align: bottom;
  padding-bottom: 0.3em;
  padding-left: 0;
}

#title-wrapper {
  display:table-row;
  width:100%;
  background-color:#1D1D1D;
  color:white;
}

#title-top {
  display:table-cell;
  vertical-align:middle;
  height:10%;
  text-align:center;
  padding-left:2%;
  padding-right:2%;
}

#title-top-link {
  display:none;
  color:inherit;
  text-decoration:none;
  padding-left:0.5em;
}

#help-screen {
  z-index:10000;
}

#help-screen-wrapper {
  font-size: 4vh;
}

#help-screen span.left {
  display: inline-block;
  width: 4em;
  text-align: center;
  color:#1ABC9C;
}

#help-screen span.right {
  padding-left: 1em;
}

.attention {
  color:#1ABC9C;
}

.overlay {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:#000;
  opacity:0.8;
  z-index:9999;
}

.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

.overlay-content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  font-size:10vh;
  color:white;
  white-space:nowrap;
}

.title-cover {
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 40%;
  z-index: 9999;
  color: white;
  opacity: 0.6;
  font-size: 3vh;
}

.spinner {
  margin: 100px auto;
  width: 51px;
  height: 8vh;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #FFF;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
